html, body { padding:0; margin:0; font-family: Arial,Helvetica,sans; color: #3FA5BF; background-color: #9EE6FE;}
* { box-sizing: border-box; }


#container {
  max-width: 75rem;
  margin: 0 auto;
  
}

.repoName {
    width: 50%;
    text-align: center;
}

.repository-list {
  margin:0;
  padding:0;
  list-style: none;
}

.repository{
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #2ec1f2;
  border-radius: 4px;
  padding: 1rem;
  margin: 3rem 0;
  align-items: center;
  font-weight: bold;
  font-size: 140%;
  background-color: #EFFEFF;
}

.infoForReps{
  display: flex;
  flex-flow: column wrap;
  list-style: square; 
  font-weight: normal;
  font-style: italic;
  font-weight: bold;
  font-size: 80%;
  padding-left: 1rem;
  width: 50%;
}

.titAs{
float: left;
margin-left:38rem; 
}

.avatar{
  max-height:5rem;
  max-width:5rem;
  margin-bottom: 2rem;
  float: right;
}

.clearfix {
  clear: both;
}